.storie {
  width: 60px;
  height: 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;

  .image {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
  }
  .text {
    color: #000;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
  }
}
